<!-- FLASH MESSAGES -->

<% if flash[:success] %>
  <br>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
  <br>

<% elsif flash[:warning] %>
  <br>
  <div class="alert alert-danger">
    <%= flash[:warning] %>
  </div>
  <br>

<% elsif flash[:warning] %>
  <br>
  <div class="alert alert-primary">
    <%= flash[:warning] %>
  </div>
  <br>
<% end %>

<!-- END FLASH MESSAGES -->
