<h1>All Tasks</h1>
<br>
<% @events.with_tasks.each do |event| %>
  <h3><%= link_to event.name, event_path(event) %></h3>
  <ol>
    <% event.tasks.not_complete.each do |task| %>
      <li><%= link_to task.name, task_path(task) %></li>
    <% end %>
  </ol>
<% end %>
