<h1>All Tasks</h1>

<ol>
  <% @events.with_tasks.each do |event| %>
    <br>
    <br>
    <h3><%= event.name %></h3>
    <% event.tasks.not_complete.each do |task| %>
      <li><%= link_to task.name, task_path(task) %></li>
    <% end %>
  <% end %>
</ol>
