<h1>Welcome to Your Homepage <%= @user.username %></h1>


<p>Your Username: <%= @user.username %></p>
<p>Your Email: <%= @user.email %></p>
<p>Your Password (encrypted): <%= @user.password_digest %></p> 
