<h2>COMPLETED TASKS</h2>

<p>Sort by: Name | Task Type | Points Awarded | Max Participants | Join Status </p>

<div class="table-responsive">
  <table class="table border border-info">
    <thead class="thead bg-info text-white">
      <%= render partial: 'table_headers', locals: { event_instance: event } %>
    </thead>

    <tbody>
      <% completed_tasks.each do |task| %>
        <tr>
          <%= render partial: 'table_rows', locals: { event_instance: event, task_instance: task } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
