<h1>Edit Event: <%= @event.name %></h1>

<%= render partial: 'form', locals: { submit_msg: "Update Event", confirm_msg: "Are you sure you want to submit these changes?" } %>

<br>

<%= link_to "Delete Event", @event, method: :delete, data: { confirm: "Are you sure you want to delete this event?" }, class: "btn-sm bg-danger text-white" %>
