<h1>Index of Events</h1>

<br />

<h5>Sort By:</h5>
<button id="sort-events-ascending" type="button" class="btn btn-sm btn-outline-primary">Title Ascending</button>
<button id="sort-events-descending" type="button" class="btn btn-sm btn-outline-primary">Title Descending</button>

<br />
<br />

<div id="all-events">
  <ol>
  </ol>
</div>
