<h1>Index of Events</h1>

<br />

<button id="sort-events-button" type="button" class="btn btn-sm btn-outline-primary">Title Ascending</button>

<br />
<br />

<div id="all-events">
  <ol>
  </ol>
</div>
