<h1><%= @event.name %></h1>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col-">#</th>
        <th scope="col">Task Name</th>
        <th scope="col-">Task Type</th>
        <th scope="col">Points Awarded</th>
        <th scope="col">Due Date</th>
        <th scope="col">Participants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Solo</td>
        <td>5 points</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Solo</td>
        <td>10 points</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Solo</td>
        <td>2 points</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task Name</th>
        <th scope="col-">Task Type</th>
        <th scope="col">Points Awarded</th>
        <th scope="col">Due Date</th>
        <th scope="col">Participants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Group</td>
        <td>3 points</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Group</td>
        <td>10 points</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Group</td>
        <td>20 points</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
