/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 body .container-fluid.background {
   background: image_url('overlook_bench.JPG') no-repeat;
   padding-top:10px;
   background-size:cover;
 }

 body .spacer {
   height: 30px;
 }

 body .large-spacer {
   height: 200px;
 }


 body .main-content {
   padding-top:20px;
   border-width: 3px !important;
 }

 body .back-button {
   padding-bottom:20px;
 }

 body .navbar {
   background-color:  #e3f2fd;
 }

 body nav.navbar.border {
   border-width: 5px !important;
 }

 .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.main-header, .sub-header {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(36,162,182);
}

.btn-xs.index-add-friend-button {
  padding: .3rem .4rem;
  font-size: .675rem;
  line-height: .5;
  border-radius: .2rem;
}

.btn-xs.btn-outline-primary {
  padding: .5rem .4rem;
  font-size: .675rem;
  line-height: .5;
  border-radius: .4rem;
}
